/*style for weather.skamsie.ro*/

@font-face {
  font-family: 'weather';
  src: url('../fonts/weather/artill_clean_icons-webfont.eot');
  src: url('../fonts/weather/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/weather/artill_clean_icons-webfont.woff') format('woff'),
       url('../fonts/weather/artill_clean_icons-webfont.ttf') format('truetype'),
       url('../fonts/weather/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/lato/LatoLatin-Regular.woff') format('woff'),
       url('../fonts/lato/LatoLatin-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/lato/LatoLatin-Light.woff') format('woff'),
       url('../fonts/lato/LatoLatin-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/lato/LatoLatin-Medium.woff') format('woff'),
       url('../fonts/lato/LatoLatin-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url('../fonts/lato/LatoLatin-Semibold.woff') format('woff'),
       url('../fonts/lato/LatoLatin-Semibold.ttf') format('truetype');
  font-weight: bold;
}

@media(min-width:768px) {
  .navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

@media(max-width: 767px) {
  .input-location {
    max-width: 120px;
  }

  #add-weather-button {
    display: none;
  }
}

@media(max-width:1023px) {
  .col-xs-6 .input-location {
    max-width: 100px;
  }
  .col-xs-6 .weather-items,
  .col-xs-6 .air-quality-items {
    font-size: 14px;
  }
  .col-xs-6 .location-data {
    font-size: 20px;
  }
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Lato, "Trebouchet MS", sans-serif;
  font-size: 17px;
}

input:focus,
button:focus {
  outline: none;
}

h1 {
  font-size: 40px;
  color: white;
}

hr {
  max-width: 590px;
}

.weather-items p,
.air-quality {
  margin: 0 0 5px;
}

.icon {
  color: #fff;
  font-family: weather;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

::-moz-placeholder {
  color: grey;
  font-size: 12px;
  padding-top: 4px;
}

::-webkit-input-placeholder {
  color: grey;
  font-size: 12px;
  padding-top: 4px;
}

:-ms-input-placeholder {
  color: grey;
  font-size: 12px;
  padding-top: 4px;
}

#about-text {
  padding-top: 30px;
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
}

.weather-header {
  margin: 0 0 8px;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.weather-city {
  text-transform: uppercase;
}

.weather-items-hr {
  margin-top: 5px;
  display: none;
}

#about-text a {
  color: #D0C9D9;
}

.input-location {
  background: #fff;
  background: rgba(255,255,255,0.90);
  height: 44px;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 1px solid #383838;
  padding-left: 4px;
  vertical-align: bottom;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
}

.submit-location {
  height: 44px;
  width: 68px;
  padding: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: transparent;
  background-color: #D2D2D2;
  font-size: 14px;
  vertical-align: bottom;
}

.submit-location:active {
  background-color: #808080;
}

.error {
  color: salmon;
  font-size: 16px;
}

.input-area {
  font-size: 0;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0;
}

.units-button {
  font-size: 14px;
  height: 44px;
  width: 32px;
  border: none;
  vertical-align: bottom;
  padding-left: 2px;
  background-color: white;
}

.input-area button:hover {
  font-weight: bold;
}

.input-area .js-geolocation:hover {
  background-size: 85%;
}

#info-button:hover,
#add-weather-button:hover {
  background-size: 100%;
}

#info-button {
  background: url("../images/information.png");
  background-color: #ebebeb;
  background-position: center;
  background-size: 90%;
  border-radius: 10px;
  margin-left: 5px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border: none;
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
}

#weather-2 {
  display: none;
}

#info-details {
  display: none;
  background: #fff;
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
}

#info-details hr {
  margin-bottom: 10px;
  margin-top: 5px;
}

.js-geolocation {
  background: url("../images/geolocation.png");
  background-repeat: no-repeat !important;
  background-color: #B2B2B2;
  background-position: center;
  border: none;
  background-size: 75%;
  vertical-align: bottom;
  font-size: 15px;
  width: 32px;
  height: 44px;
  padding: 0;
}

.js-geolocation:active {
  background-color: #808080;
}

.js-geolocation img {
  margin: 0 auto;
  width: 20px;
  padding-right: 1px;
}

.loading {
  color: white;
  font-size: 16px;
}

.coordinates,
.coordinates a {
  text-align: left;
  font-size: 12px;
  color: grey;
}

.coordinates a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.icon-clear-day:before { content: "1"; }
.icon-clear-night:before { content: "6"; }
.icon-rain:before { content: "M"; }
.icon-snow:before { content: "I"; }
.icon-sleet:before { content: "W"; }
.icon-wind:before { content: ","; }
.icon-fog:before { content: "…"}
.icon-cloudy:before { content: "3"; }
.icon-partly-cloudy-day:before { content: "A"; }
.icon-partly-cloudy-night:before { content: "a"; }

.select-location {
  min-height: 100%;
  padding-top: 100px;
  text-align: center;
  background-color: #383838;
}

.about-section {
  min-height: 100%;
  padding-top: 100px;
  text-align: center;
  background: #808080;
}

.nav-text {
  font-size: 14px;
}

.air-quality-items,
.weather-items {
  max-width: 550px;
  margin: 0 auto;
  color: white;
  text-align: left;
}

.weather-items {
  padding-top: 20px;
}

.weather-items h4 {
  margin-bottom: 0;
}

.low {
  color: #A5D6FF;
}

.high {
  color: salmon;
}

.small-icon {
  font-family: weather;
  font-size: 36px;
  line-height: 0;
}

.button-pushed {
  background-color: LightSalmon !important;
}

.title {
  color: #BEBEBE;
}

.small-buttons {
  display: inline-block;
  margin: 0;
  margin-bottom: 12px;
}

#add-weather-button {
  border: none;
  background-position: center;
  background-size: 90%;
  border-radius: 10px;
  margin-left: 5px;
  font-weight: bold;
  height: 20px;
  width: 20px;
}

.add-weather {
  background: url("../images/plus.png");
  background-color: #ebebeb;
}

.remove-weather {
  background: url("../images/minus.png");
  background-color: LightSalmon;
}
