/*style for weather.skamsie.ro*/

@font-face {
    font-family: 'weather';
    src: url('../fonts/weather/artill_clean_icons-webfont.eot');
    src: url('../fonts/weather/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/weather/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/weather/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/weather/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media(min-width:768px) {
  .navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
  }
}

@media(max-width:767px) {

  #input-location {
    max-width: 120px;
  }

}

body {
  width: 100%;
  height: 100%;
  font-family: Lato, "Trebouchet MS", sans-serif;
  font-size: 13px;
}

html {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 45px;
  color: #fff;
}

hr {
  max-width: 540px;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

::-moz-placeholder {
  color: grey;
  font-size: 12px;
  padding-top: 4px;
}

::-webkit-input-placeholder {
  color: grey;
  font-size: 12px;
  padding-top: 4px;
}

:-ms-input-placeholder {
  color: grey;
  font-size: 12px;
  padding-top: 4px;
}

#about-text {
  padding-top: 30px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 17px;
  text-align: justify;
}

#custom-weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather-city {
  text-transform: uppercase;
}

#weather-items-hr {
  margin-top: 5px;
  margin-bottom: 0;
  display: none;
}

#about-text a {
  color: #D0C9D9;
}

#input-location {
  background: #fff;
  background: rgba(255,255,255,0.90);
  height: 44px;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-right: 1px solid #383838;
  padding-left: 4px;
}

#submit-location {
  height: 44px;
  padding: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: transparent;
  background-color: #D2D2D2;
  font-size: 14px;
  vertical-align: bottom;
}

#submit-location:active {
  background-color: #808080;
}

#error {
  color: salmon;
  font-size: 17px;
}

#input-area {
  font-size: 0;
  display: inline;
  margin: 0;
  padding: 0;
}

#units-button {
  font-size: 14px;
  height: 44px;
  width: 30px;
  border: none;
  vertical-align: bottom;
  padding-left: 2px;
  background-color: LightSalmon;
}

#info-button {
  font-style: italic;
  font-weight: bold;
  font-family: serif;
  border-color: transparent;
  background-color: LightSalmon;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  padding: 0px;
  margin: 0;
}

#info-details {
  display: none;
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  text-align:left;
  border-radius: 5px;
  padding: 8px;
}

#js-geolocation {
  background: #B2B2B2;
  border: transparent;
  height: 44px;
  width: 30px;
  vertical-align: bottom;
}

#js-geolocation:active {
  background-color: #808080;
}

#js-geolocation img {
  margin: 0 auto;
  width: 20px;
  padding-right: 1px;
}

#loading {
  color: white;
  font-size: 16px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

.select-location {
  min-height: 100%;
  padding-top: 100px;
  text-align: center;
  background-color: #383838;
}

.about-section {
    min-height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #808080;
}

.nav-text {
  font-size: 15px;
}

.air-quality-items,
.weather-items {
  max-width: 500px;
  margin: 0 auto;
  color: white;
  text-align: left;
  font-size: 18px;
}

.weather-items {
  padding-top: 20px;
}

.weather-items h4 {
  margin-bottom: 0;
}

.low {
  color: #A5D6FF;
}

.high {
  color: salmon;
}

.small-icon {
  font-family: weather;
  font-size: 36px;
  line-height: 0;
}

.units-pushed-button {
  background-color: white !important;
}

.empty-div {
  height: 30px;
}

.empty-div-big {
  height: 45px;
}

.info-pushed-button {
  background-color: #D2D2D2 !important;
}

.title {
  color: #BEBEBE;
}
